<main class="container py-4">
    <h1 class="mb-3">All Fish</h1>

    <a href="/fish/add" class="btn btn-success mb-3">Add New Fish</a>

    <% if (fish && fish.length > 0) { %>
      <table class="table table-dark table-striped table-bordered align-middle">
        <thead>
          <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Bait</th>
            <th>Time</th>
            <th>Caught?</th>
          </tr>
        </thead>
        <tbody>
          <% fish.forEach(f => { %>
            <tr>
              <td><%= f.fishName %></td>
              <td><%= f.location || "" %></td>
              <td><%= f.bait || "" %></td>
              <td><%= f.time || "" %></td>
              <td><%= f.caught ? "Yes" : "No" %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %>
      <p>No fish have been added yet. <a href="/fish/add">Add one now</a>!</p>
    <% } %>
  </main>