<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %> 

<!-- content for editing fish -->
<div class="container">
  <div class="row">

    <!-- centered column for form -->  
    <div class="offset-md-3 col-md-6">
      <h1><%= title %></h1>

      <!-- form sends POST to /fishs/edit/:id -->
      <form class="form" method="post">

        <!-- fish name field -->
        <div class="form-group">
          <label for="fishNameTextField">Fish</label>
          <input type="text" class="form-control"
          id="fishNameTextField"
          name="fishName" 
          value="<%= Fish.fishName%>"
          required>
        </div>

        <!-- location field -->
        <div class="form-group">
          <label for="locationTextField">Location</label>
          <input type="text" class="form-control"
          id="locationTextField"
          name="location"
          value="<%= Fish.location%>"
          required>
        </div>

        <!-- bait field -->
        <div class="form-group">
          <label for="baitTextField">Bait</label>
          <input type="text" class="form-control"
          id="baitTextField"
          name="bait" 
          value="<%= Fish.bait%>"
          required>
        </div>

        <!-- time field -->
        <div class="form-group">
          <label for="timeTextField">Time</label>
          <input type="text" class="form-control"
          id="timeTextField"
          name="time"
          value="<%= Fish.time%>"
          required> 
        </div>

        <!-- caught checkbox NEEDS TO BE FIXED STILL -->
        <div class="form-check">
          <label for="caughtCheck">Caught?</label>
          <input type="checkbox" class="form-check-input"
          id="caughtCheck"
          name="caught"
          value="true"
          <%= Fish.caught ? 'checked': '' %>>
        </div>

        <br>

        <!-- submit button -->
        <button class="add-fish-btn" type="submit">
           Submit
        </button>
        <!-- cancel button that returns to list -->
        <a href="/fishs" class="btn add-fish-btn">
          Cancel
        </a>

      </form>
      
    </div>
  </div>
</div>

<%- include ../partials/footer.ejs %>