<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<!-- main content container -->
<main class="container my-4">

  <!-- Table wrapper with table scrolls on smaller screens-->
  <div class="table-responsive" mt-5>
    <!-- boostrap table with custom pokemon style border and font classes -->
    <table class="table table-striped table-bordered poke-border poke-font">
      <thead>
        <tr>
          <th>Fish</th>
          <th>Location</th>
          <th>Bait</th>
          <th>Time</th>
          <th>Caught?</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <!-- loops through FishList array passed from route -->
        <% FishList.forEach(f => { %>
          <tr>
            <!-- displays each field from fish doc -->
            <td><%= f.fishName %></td>
            <td><%= f.location %></td>
            <td><%= f.bait %></td>
            <td><%= f.time %></td>
            <td><%= f.caught ? "Yes" : "No" %></td>
            <!-- action buttons for edit and delete -->
            <td>
              <a href="/fishs/edit/<%= f._id %>" class="btn btn-sm  me-1">
                Edit
              </a>
              <a href="/fishs/delete/<%= f._id %>" class="btn btn-sm r">
                Delete
              </a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <!-- alligns add fish button to be below the bottom right of the table -->
  <div class="d-flex justify-content-end mt-3" style="margin-right: 20px;">
    <a href="/fishs/add" class="btn btn-sm add-fish-btn ">
      Add a Fish
    </a>
  </div>

</main>

<%- include ../partials/footer.ejs %>
