<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<!--Main content-->
<main class="container">
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <h1><%= title %></h1>
        <a href="/fishs/add" class="btn btn-primary" role="button">
          <i class="fas fa-plus-circle"></i> Add a Fish
        </a>
    
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr class="d-flex">
              <th class="text-center col-2">Fish</th>
              <th class="text-center col-2">Location</th>
              <th class="text-center col-2">Bait</th>
              <th class="text-center col-2">Time</th>
              <th class="text-center col-1">Caught</th>
            </tr>
          </thead>
          <tbody>
            <% for(let count=0; count<FishList.length;count++) { %>
              <tr class="d-flex">
                <td class="text-center col-2"><%= FishList[count].fishName %></td>
                <td class="text-center col-2"><%= FishList[count].location %></td>
                <td class="text-center col-2"><%= FishList[count].bait %></td>
                <td class="text-center col-2"><%= FishList[count].time %></td>
                <td class="text-center col-1"><%= FishList[count].caught %></td>

                <td class="text-center col-2">
                <a href="/fishs/edit/<%= FishList[count]._id %>"
                   class="btn btn-primary btn-sm me-2">
                  <i class="fas fa-pencil-alt"></i> Edit
                </a>

                <a href="/fishs/delete/<%= FishList[count]._id %>"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('Release this fish?');">
                  <i class="fas fa-trash-alt"></i> Delete
                </a>
                </td>  
                          
              </tr>
            <% } %>
          </tbody>            
        </table>
    </div>
  </div>
</main>

<%- include ../partials/footer.ejs %>

